* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
  background-color: #ddf3d1;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  margin-bottom: 20px;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: #fff;
  border: 2px solid #ccc;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.board {
  display: grid;
  grid-template-columns: repeat(3,100px);
  gap: 10px;
}

.square:hover {
  background-color: #e6e6e6;
}

.status {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.game-info {
  margin-top: 20px;
}

.button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e6e6e6;
}

.ol {
  padding-left: 20px;
}